{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1000px;
    width: 100%;
}
.main{
    width: 100%;
   
    background-image:url(./background.jpg) no-repeat;
    background-position: center;
    background-size: cover; 
    object-fit: contain;
    /* background-color: aquamarine; */
    height: 1000px;
    position:relative;
    font-family: sans-serif;
    
}
.navbar{
    width: 86%;
    display:flex;
    margin:auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    width: 160px;
    cursor:pointer;
    margin-top: -2%;
    margin-left: -7%;
}
ul{
    margin-top: -4;
}
ul li{
    list-style: none;
    display:inline-block;
    padding: 10px 15px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color:rgb(36, 36, 37);
    margin-top: -3%;
    transition: .4s ease;
}
ul li a:hover{
    color:rgb(218, 32, 54);

}
.info{
    margin-left: 6%;
    margin-top: 7%;
}
.info h1{
    font-size: 60px;
    color: rgb(172, 51, 55);
}
.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.info a{
    color:rgb(2, 2, 9);
    background:rgb(201, 210, 217);
    margin:26px;
    padding: 10px 18px;
    border-radius: 10px;
    display:inline-block;
    transition: .4s;
    box-sizing: border-box;
}
.info a:hover{
    background:rgb(108, 188, 174) ;
}
.image{
    width: 20%;
    height: 20%;
    position: absolute;
    right: 100px;
    bottom: 0;
}
.male{

}
.image img{
    position: absolute;
    height: 120%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
    transition: left 2s ease;
}
.image:hover .girl{
    left: 55%;
}
.contact{
    width: 100%;
    background: url(./background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
  
    padding-bottom: 10px;
    padding-top: 150px;
}
.ok h1{
   
    margin-left: 6%;
    margin-top: 3%;
}
.ok h3{
    margin-left: 6%;
    margin-top: 4%;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.about{
    width: 100%;
    background: url(./background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
   margin-top: 230px;
    padding-bottom: 10px;
    padding-top: 15px;
}
.fine h1{
   
    margin-left: 6%;
    margin-top: 3%;
}
.fine h3{
    margin-left: 6%;
    margin-top: 4%;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 8px;
}
.fine h2{
    margin-left: 6%;
    margin-top: 3%;
    font-size: 34px;
    color: brown;
}

.skill{
    width: 100%;
    background: url(./background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 50px;
}
.sk h1{
   
    margin-left: 6%;
    margin-top: 3%;
}
.sk h3{
    margin-left: 6%;
    margin-top: 4%;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 8px;
}
.sk h2{
    margin-left: 6%;
    margin-top: 3%;
    font-size: 34px;
    color: brown;
}

.work{
    width: 100%;
    background: url(./background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
   margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 15px;
}
.w h1{
   
    margin-left: 6%;
    margin-top: 3%;
}
.w h3{
    margin-left: 6%;
    margin-top: 4%;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 8px;
}
.w h2{
    margin-left: 6%;
    margin-top: 3%;
    font-size: 34px;
    color: brown;
}
.w span{
    font-size: 28px;
}
.para ul{
    margin-left: 80px;
    font-size: 20px;
    margin-top: 30px;
}